#unfinished/test SystemD startup of Docker container
#!dh
[Unit]
Description=Strongswan
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill strongswan
ExecStartPre=-/usr/bin/docker rm strongswan
ExecStartPre=/usr/bin/docker pull strongswan
ExecStart=/usr/bin/docker run -d --privileged=true --net=host -v $PWD/config/strongswan.conf:/etc/strongswan.conf:ro -v $PWD/config/strongswan.d:/etc/strongswan.d:ro -v $PWD/config/ipsec.conf:/etc/ipsec.conf:ro -v $PWD/config/ipsec.d:/etc/ipsec.d:ro -v $PWD/config/ipsec.secrets:/etc/ipsec.secrets:ro --name=strongswan thing-hub/alpine-strongswan
ExecStop=/usr/bin/docker stop strongswan

[Install]
WantedBy=multi-user.target
